.webcamContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cameraContainer {
  position: relative;
}

.webcam {
  border-radius: 10px;
  object-fit: cover;
}

.cameraOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.mirrorToggle {
  background: #00000080;
    border-radius: 5px;
    color: #fff;
    left: 158px;
    padding: 5px 10px;
    position: absolute;
    bottom: 16px;
}

.captureButton {
  background: #000;
    border: none;
    border-radius: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    margin-top: 10px;
    padding: 6px 12px;
}

.imageContainer {
  position: relative;
}

.capturedImage {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.imageOverlay {
  align-items: flex-end;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.retakeButton,
.selectButton {
  background: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    padding: 6px 13px;
}
